<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {{# if loggedin}}
    Welcome {{user}}
    {{else }}
    Foo-Lette
    {{/if}}
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="Foo-Lette" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> --}}


</head>

<body>

  <nav class="nav navbar navbar-default">
    <div class="menu-bar container-fluid">
      
       <img class="logo" src="styles/finallogo.png"alt="Page Logo">
      
      
      {{!-- Right side of nav --}}
      <div class="buttons">
        {{# if loggedin}}
        <button id="button1" type="button" class="btn  btn-lg btn-light"><a href="/logout">
              Log Out</a></button>
          
        
       
        <button id="button2" type="button" class="btn btn-lg btn-light"><a href="#">
              Favorites</button>
          </a>
        
        <button id="button3" type="button" class="btn btn-lg btn-light"><a href="/">
              Dashboard</button>
          </a>
       
        {{else }}
        <button id="button2" type="button" class="btn btn-lg btn-light"><a href="/registration">
              Sign Up</button>
          </a>
       

        {{/if}}
        


      </div>

    </div>
  </nav>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqGzyDwZXtg3v10ZpY4cPVRyHDVHU7T0w&callback=initMap">
        </script>
  <script src="js/index.js"></script>



{{{body}}}
 

</body>


</html>