
<body>
  <div class="row">
    <div class="col-4">
      <form>
        {{!-- <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Thai</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Japanese</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">American</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Latin</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Chinese</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Southern</span></h5>
          </label>
        </div>
        <div class="form-check">
          <label>
            <h5><input type="radio" name="radio"> <span class="label-text text-white">Italian</span></h5>
          </label>
        </div> --}}
      </form>
    </div>
    <div class="col-8"> 
      <a id="submit" href="#"> <img src="/styles/food-button-png.png" alt="Button to get random restaurant"></a>

      <div class='randomChoice'></div>
    </div>
    

  </div>
</body>