<body>
  <div class="row">

      
    <div class="col-12">
      <a id="submit" href="#"> <img src="/styles/food-button-png.png" alt="Button to get random restaurant"></a>


    </div>
  </div>
  <div class='randomChoice'></div>


</body>