body {
  background-image: url("./finalbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.form h1 {
  text-align: center;
  color: #db1a1a;
  font-size: 50px;
  padding: 20px 0 20px 0;
}

.form input[type="password"], .form input[type="text"], .form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  height: 800px;
  width: 100%;
}

.nav .menu-bar {
  width: 100%;
  text-align: center;
  box-shadow: 1px 2px 4px grey;
  background: rgba(2, 2, 2, 0.2);
  height: 120px;
}

.menu-bar li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
  margin: 0px 20px;
}

.logo {
  float: left;
}

#logout {
  float: right;
}

.row {
  margin-left: 50px;
  margin-top: 100px;
}

input[type='radio'] {
  transform: scale(1.5);
}